* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
@font-face {
  font-family: "tt-lake";
  src: url(fonts/TTLakes-Regular.ttf);
}
@font-face {
  font-family: "tt-lake-bold";
  src: url(fonts/TTLakes-Bold.ttf);
}

@font-face {
  font-family: "tt-lake-extra-bold";
  src: url(fonts/TTLakes-ExtraBold.ttf);
}

body {
  background-color: #f8f8f8;
}

/* Исправить хэдер в мобильной версии, исправить высоту nav-menu в десктопной версии и исправить свойства размеров картинки и текста в планшетной и десктопной версии  */

.group-1 {
  box-sizing: content-box;
  display: flex;
  padding-left: 1rem;
  gap: 1rem;
  align-items: center;
} /* для разделения бургер меню и лого от остальных элементов хэдера */

.group-2 {
  box-sizing: content-box;
  display: flex;
  padding-right: 1rem;
  gap: 1rem;
  align-items: center;
}

.site-header {
  display: flex;
  box-sizing: content-box;
  /* height: 27.5vw; 132 */
  width: 100%;
  background-color: #ffffff;
  border: none;
  padding: 1.188rem 0 1.188rem 0;
  box-shadow: 0 3px 2px 1px #d9fff5;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: fixed;
  top: 0;
  z-index: 999;
}

.main {
  background-color: #f8f8f8;
  position: relative;
  top: 5.5rem;
}

.menu-button {
  height: 2.5rem; /* заменить на rem */
  width: 2.5rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #ff3e79;
  /* background-image: url(icons/menu-button.svg);  вложить изображение в html */
  /* background-repeat: no-repeat;
    background-position: center; */
}
.menu-button img {
  width: 45%;
  height: 40%;
}

.logo {
  width: 6rem;
  height: 3.125rem;
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.divider-1 {
  display: none;
  width: 0.125rem;
  height: 2rem; /* заменить на rem */
  background-color: #eaeaea;
  border: none;
}

.divider-2 {
  width: 0.125rem;
  height: 2rem; /* заменить на rem */
  background-color: #eaeaea;
  border: none;
}

.call-button {
  display: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #ff3e79;
  /* background-image: url(icons/toolbar-button.svg);
    background-repeat: no-repeat;
    background-size: 5.625vw 5vw;
    background-position: center; */
}

.call-button img {
  width: 45%;
  height: 40%;
}

.chat-button {
  display: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #ff3e79;
  /* background-image: url(icons/toolbar-button.svg);
    background-repeat: no-repeat;
    background-size: 5.625vw 5vw;
    background-position: center; */
}

.chat-button img {
  width: 45%;
  height: 40%;
}
.profile-button {
  display: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #ff3e79;
  /* background-image: url(icons/toolbar-button.svg);
    background-repeat: no-repeat;
    background-size: 5.625vw 5vw;
    background-position: center; */
}

.profile-button img {
  width: 45%;
  height: 40%;
}

.toolbar-button__label {
  font-family: tt-lake;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-right: 0.5rem;
  letter-spacing: 0.013;
  font-weight: 700;
  display: none;
}

.search-button__label {
  font-family: tt-lake;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-right: 0.5rem;
  letter-spacing: 0.013;
  font-weight: 700;
  display: none;
}

.toolbar-button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #ff3e79;
  /* background-image: url(icons/toolbar-button.svg);
    background-repeat: no-repeat;
    background-size: 5.625vw 5vw;
    background-position: center; */
}

.toolbar-button img {
  width: 45%;
  height: 40%;
}

.search-button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #ff3e79;
  /* background-image: url(icons/magnifier.svg);
    background-repeat: no-repeat;
    background-size: 5.625vw 5vw;
    background-position: center; */
}

.search-button img {
  width: 45%;
  height: 40%;
}

.page-title__container {
  display: flex;
  align-content: center;
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.page-title__highlighter {
  width: 0.25rem;
  height: 2.5rem;
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: #41f6d7;
  position: absolute;
}

.page-title {
  font-family: tt-lake-bold;
  /* font-weight: 900; */
  font-size: 1.75rem;
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
}
.nav-menu__container {
  display: flex;
}
.nav-menu {
  /* добавить пэдинг слева */
  display: flex;
  width: 100%;
  padding-left: 1rem;
  /* grid-template-columns: 242px 242px 242px 242px 242px 242px; */
  /* grid-template-rows: 12.5vw; */
  /* flex-wrap: nowrap; */
  overflow-x: scroll;
  height: 2.5rem;
  scrollbar-width: none;
  gap: 0.5rem;
  /* margin-left: 5%; */
}

.nav-menu__button {
  display: flex;
  box-sizing: content-box;
  margin: 0;
  /* width: 242px;
    height: 40px; */
  border: 2px solid hidden;
  border-radius: 0.65rem;
  font-family: tt-lake;
  font-size: 1rem;
  letter-spacing: -0.013rem;
  text-decoration: none;
  color: #7e7e82;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  /* display: flex;
    font-family: tt-lake;
    color: #7E7E82;
    box-sizing: border-box;
    width: 242px;
    height: 36px;
    border: 2px solid hidden; */
}

.nav-menu__button--current {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  scroll-initial-target: nearest;
}

.gradient-block {
  position: absolute;
  right: 0; /* заменить на rem */
  width: 6rem;
  height: 3.75rem;
  background: linear-gradient(
    to right,
    rgba(248, 248, 248, 0) 0%,
    #f8f8f8 100%
  );
  pointer-events: none;
}

.article {
  width: 100%;
  /* margin-top: 1.5rem; */
  /* padding: 1.4rem 1rem; */
}

#read-more-checkbox {
  display: none;
}

.article__text {
  width: 100%;
  padding: 1.5rem 1rem 0 1rem;
  font-family: tt-lake;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.013rem;
  justify-self: center;
}

.article__text--hidden {
  display: none;
  width: 100%;
  padding: 1.4rem 1rem;
  font-family: tt-lake;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.013rem;
  /* justify-self: center; */
}

.less-button {
  display: flex;
  /* width: 41.25vw; */
  width: 6.5rem;
  height: 1.5rem;
  font-family: tt-lake;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  color: #1b1c21;
  align-items: center;
  justify-content: space-evenly;
}

.less-button__icon {
  height: 1.5rem; /* заменить на rem */
  width: 1.5rem;
  border: none;
  background-image: url(icons/collapse-icon.png);
  background-repeat: no-repeat;
  background-size: 31.25% 43%;
  background-position: center;
}

.more-button {
  display: flex;
  /* width: 41.25vw; */
  /* width: 8rem; */
  height: 1.5rem;
  font-family: tt-lake;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  color: #1b1c21;
  align-items: center;
  justify-content: flex-start;
}

.more-button__icon {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-image: url(icons/expand-icon.svg);
  background-repeat: no-repeat;
  background-size: 31.25% 43%;
  background-position: center;
}

#read-more-checkbox:checked ~ .article__text--hidden {
  display: block;
}

#read-more-checkbox:checked ~ .more-button {
  display: none;
}

.article__p__image {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  padding: 0;
  /* justify-self: flex-start; */
}

@media (min-width: 768px) and (max-width: 1119px) {
  .site-header {
    padding-left: 1rem;
    padding-right: 1rem;
    /* justify-content: space-around; */
    gap: 1.5rem;
    box-sizing: border-box;
  }
  .logo {
    margin-right: auto;
  }
  .divider-1,
  .call-button,
  .chat-button,
  .profile-button {
    display: block;
  }
  .page-title{
    padding-left: 2rem;
  }
  .nav-menu{
    padding-left: 2rem;
  }
  .article {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .article-text__container {
    width: 50%;
    height: 13rem;
    /* padding-left: 3rem; */
  }
  .article__text,
  .article__text--hidden {
    line-height: 1.25rem;
    padding-left: 2rem;
  }

  .article__p__image {
    width: 50%;
    padding-right: 3rem;
  }
  .more-button {
    padding-left: 2rem;
  }
  /* .group-1 {
    margin: 0;
    width: 50%;
  }
  .group-2 {
    margin: 0;
    width: 50%;
    justify-content: flex-end;
  } */
}

@media (min-width: 1120px) and (max-width: 1920px) {
  .site-header {
    display: flex;
    box-sizing: content-box;
    /* height: 27.5vw; 132 */
    /* width: 22.5rem; */
    /* margin-right: 2rem; */
    background: none;
    border: none;
    /* padding: 1.188rem 0 1.188rem 0; */
    box-shadow: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
    position: absolute;
    top: 0;
    right: 2rem;
    z-index: 999;
  }
  .menu-button {
    display: none;
  }
  .logo {
    display: none;
  }
  .divider-2 {
    display: none;
  }
  .toolbar-button__container,
  .search-button__container {
    display: flex;
  }
  .toolbar-button__label,
  .search-button__label {
    display: block;
    align-content: center;
  }
  .toolbar-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
  }
  .search-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
  }
  .nav-menu__container {
    /* padding-left: 1.5rem; */
    box-sizing: content-box;
    height: auto;
  }
  .nav-menu {
    padding-left: 2rem;
    flex-wrap: wrap;
    box-sizing: content-box;
    height: auto;
  }
  .nav-menu__button {
    box-sizing: content-box;
    padding: 0.5rem 1.3rem;
  }
  .gradient-block {
    display: none;
  }
  .main {
    top: 0;
  }
  .page-title {
    width: 100%;
    padding-left: 2.5rem;
  }
  .article {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 1rem;
  }
  .article-text__container {
    width: 50%;
    height: 13rem;
    padding: 0.5rem 0 0 1rem;
  }
  .article__text,
  .article__text--hidden {
    line-height: 1.25rem;
    /* margin: 1.4rem 0; */
    width: 100%;
  }

  .article__p__image {
    width: 50%;
    padding-right: 2rem;
  }
  .article__text--hidden {
    display: block;
  }
  .less-button,
  .less-button__icon {
    display: none;
  }
}

/* @media(max-width: 800px){
    .responsive__grid{
        grid-template-columns: repeat(1fr);
    }
}

@media(min-width: 601px) and (max-width: 800px){
    .responsive__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 801px) and (max-width: 1000px){
    .responsive__grid{
        grid-template-columns: repeat(3, 1fr);
    }
} */
